{{ define "main" }}
<section>
    <header>
      <h1>{{ .Title }}</h1>
      <p class="meta">You can also filter by <a href="{{ "tags" | relURL }}" class="button">tags</a> or <a href="{{ "archive" | relURL }}" class="button">years</a></p>
    </header>

    {{ with .Content }}
        {{- . -}}
    {{ end }}

    <section class="grid posts">
    {{ range .Paginator.Pages }}
        {{ if not .Date.IsZero }}
        <time datetime="{{ .Date.Format "2006-01-02" }}" class="meta">{{ .Date.Format "Jan 02, 2006" }}</time>
        {{ else }}
        <span class="meta">—</span>
        {{ end }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{end}}
    </section>

    {{ partial "pagination.html" . }}

</section>
{{ end }}
